.carousel-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.carousel {
  background: rgb(7, 70, 70);
  padding: 50px;
  position: relative;
    width: 100%;

}

.carousel-item {
padding-right: 20px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

